/*about us*/
article {
  margin-top: 60px;
}

section.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.content {
  width: 50%;
}

.content h2 {
  text-align: center;
}

.content p {
  text-align: justify;
  text-justify: inter-word;
}

.img-section {
  border: 1px solid red;
  width: 30%;
  height: 300px;
}

.img-section img {
  /* update later */
  width: 400px;
}

/* contact form */
section.contact {
  padding-bottom: 50px;
}

section.contact h2,
section.contact p {
  text-align: center;
}

.contact-frm {
  width: 50%;
  display: block;
  padding: 40px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.field {
  padding-bottom: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  article {
    margin-top: 150px;
  }
  /* about */
  section.about {
    flex-direction: column-reverse;
    padding-top: 20px;
    height: auto;
  }

  .content {
    width: 100%;
  }

  .img-section {
    width: 80%;
    margin-bottom: 30px;
  }

  .img-section img {
    /* update later */
    width: 100%;
  }

  section.contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .contact-frm {
    width: 100%;
    padding: 20px;
  }

  .btn {
    margin-top: 10px;
  }
}
