* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Set the default page element styles */
body {
  line-height: 1.2em;
}

ul,
ol {
  list-style: none;
}

nav ul {
  list-style: none;
}

nav a,
nav ul a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
