@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* header */
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  transition: 0.5s ease;
}

header .logo {
  color: #094067;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header nav {
  position: relative;
  padding: 0 25px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul a {
  position: relative;
  color: #1c4d70;
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 30px;
  transition: 0.3s ease;
  display: inline-block;
  padding: 5px 0;
}

header nav ul a:before {
  content: "";
  position: absolute;
  background: #1c4d70;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header nav ul a:hover:before {
  width: 100%;
}

/* form */
form .field {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

form .field label {
  padding-bottom: 5px;
  font-size: 1em;
}

form .field input,
form .field select {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  width: 100%;
  min-height: 40px;
  border: unset;
  border-radius: 4px;
  outline-color: #abd1c6;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

textarea {
  width: 100%;
  margin-top: 5px;
  padding: 12px 20px;
  border: unset;
  border-radius: 4px;
  outline-color: #abd1c6;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.field input,
textarea {
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* button */
button,
input[type="submit"] {
  padding: 8px;
  color: #248277;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
  background-image: linear-gradient(62deg, #469d89 0%, #99e2b4 100%);
}

button:hover,
input[type="submit"]:hover {
  color: #fff;
}

/* footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 10px;
  background-color: #24262b;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 14px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.footer-col p {
  font-size: 12px;
  color: #bbb;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: rgba(118, 161, 190, 0.5);
  height: 1.5px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* form invalid css */
.error,
input:invalid {
  border: 1px solid rgb(251, 67, 67) !important;
}

input:focus:invalid {
  background-color: rgba(252, 142, 160, 0.3);
  outline-color: rgb(250, 108, 108);
}

/* mobile styles */
@media only screen and (max-width: 768px) {
  header {
    padding: 0 10px;
  }

  header .logo {
    font-size: 1.2em;
  }

  header nav {
    padding: 0;
    flex-direction: column;
  }

  header nav ul {
    width: 100%;
    justify-content: space-around;
  }

  header nav ul a {
    margin: 10px 0;
    font-size: 1em;
    padding: 0;
  }

  /* footer */
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .footer br {
    display: none;
  }

  .footer-col {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .footer-col h4 {
    margin-bottom: 15px;
  }

  .footer-col h4::before {
    display: none;
  }
}
