@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* header */
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  transition: 0.5s ease;
}

header .logo {
  color: #094067;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header nav {
  position: relative;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul a {
  position: relative;
  color: #094067;
  font-size: 1em;
  font-weight: 600;
  margin-left: 30px;
  transition: 0.3s ease;
  display: inline-block;
  padding: 5px 0;
}

header nav ul a:before {
  content: "";
  position: absolute;
  background: #094067;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header nav ul a:hover:before {
  width: 100%;
}
