@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* header */
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  transition: 0.5s ease;
}

header .logo {
  color: #094067;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header nav {
  position: relative;
  padding: 0 25px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul a {
  position: relative;
  color: #1c4d70;
  font-size: 1.3em;
  font-weight: 600;
  margin-left: 30px;
  transition: 0.3s ease;
  display: inline-block;
  padding: 5px 0;
}

header nav ul a:before {
  content: "";
  position: absolute;
  background: #1c4d70;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header nav ul a:hover:before {
  width: 100%;
}

/* services */
section.services {
  padding: 80px 0;
  background-color: #8dc6ff;
  background-image: linear-gradient(62deg, #b1d6fa 0%, #fdfdfd 100%);
}

section.services .s-title,
section.reviews h3 {
  text-align: center;
  font-size: 2em;
  line-height: 1.8;
}

section.services .s-desc {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}

.services-boxes {
  width: 80%;
  margin: 50px auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.service {
  width: 300px;
  height: 320px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-map-location-dot,
.fa-sack-dollar,
.fa-people-roof {
  color: #05a8a0;
  font-size: 4em;
}

.service p.title {
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
}

.service p.desc {
  text-align: center;
}

/* reviews */
section.reviews {
  padding: 30px;
  padding-top: 50px;
}

.reviews-boxes {
  width: 65%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.review {
  width: 320px;
  height: 200px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ratings span.checked {
  color: orange;
}

.reviewer {
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 20px;
}

.avatar img {
  object-fit: cover;
  border-radius: 50%;
}

.reviewer-details {
  text-align: center;
}

.reviewer-details .desc {
  font-size: 12px;
  opacity: 0.8;
}

/* footer */
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3c94cf;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
